################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Tarea/.vs/Tarea/v15
/Tarea/Tarea/bin/Debug
/Tarea/Tarea/obj/Debug
